<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head lang="en">
    <title>Secured Page</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="/static/css/main.css" th:href="@{/css/main.css}"/>
</head>
<body>
<div th:substituteby="index::logout"></div>
<h1>Hello <span sec:authentication="name"></span></h1>
<h2>This is a secured page!</h2>
<ul>
    <li><a href="/car/edit" th:href="@{/car/edit}">Edit - only for ADMINs</li>
</ul>
<p><a href="/index" th:href="@{/index}">Back</a></p>
</body>
</html>
